/*** Grid CSS ***/

/***
This stylesheet handles the grid layout for the main structure of the site. Here we have implemented
a 3 column layout, with header expanding full width to accomodate the banner image
***/

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 75em) [main-end] minmax(1em, 1fr) [full-end];
}

.container>* {
  grid-column: main;
}

.container-splash {
  grid-column: full;
}

header {
  grid-column: full;
  height: 35vh;
}

main {
  /*grid-column-start: 2;*/
  display: grid;
  grid-template-columns: 80% 15%;
  grid-column-gap: 5%;
}

footer {
  grid-column: full;
}

.range {
  grid-column: 1 / -1;
}

.cards {
  margin: 30px 0 50px 0;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
}

.about-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
  grid-template-rows: 1fr;
}

.about-container>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  padding: 20px 0;
}