<%- include('./partials/_nav.ejs', {id: "gallery"}); %>
<main>
  <section class="main-header">
    <h1>Gallery</h1>
    <p>Looking for inspiration? Look no further!</p>
  </section>
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6uHNwKnpr74" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <section class="gallery-container">
    <div class="row">
      <div class="column">
        <img src="./images/other/other1.jpg">
        <img src="./images/other/sale2.jpg">
        <img src="./images/shelves/shelf2.jpg">
        <img src="./images/tables/table4.jpg">
        <img src="./images/other/other4.jpg">
      </div>
      <div class="column">
        <img src="./images/card-image2.jpg">
        <img src="./images/tables/table2.jpg">
        <img src="./images/other/sale1.jpg">
        <img src="./images/shelves/shelf1.jpg">
        <img src="./images/tables/table5.jpg">
        <img src="./images/other/other3.jpg">
      </div>
      <div class="column">
        <img src="./images/other/other2.jpg">
        <img src="./images/shelves/shelf4.jpg">
        <img src="./images/other/sale3.jpg">
        <img src="./images/tables/table3.jpg">
        <img src="./images/card-image3.jpg">
      </div>
      <div class="column">
        <img src="./images/tables/table6.jpg">
        <img src="./images/other/sale4.jpg">
        <img src="./images/shelves/shelf3.jpg">
        <img src="./images/tables/table1.jpg">
        <img src="./images/other/other6.jpg">
      </div>
    </div>
  </section>
</main>