<%- include('./partials/_nav.ejs', {id: "range"}); %>

<main>
  <section class="main-header">
    <h2>Other Things</h2>
    <p>Sometimes wrong can be so right...</p>
  </section>
  <section class="cards">
    <article class="card">
      <img src="images/other/other5.jpg" alt="Wooden Block">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Wooden Block</h3>
          <ul>
            <li>Solid Oak</li>
            <li>800 x 800mm</li>
            <li>€250 o.n.o</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="card">
      <img src="images/other/other2.jpg" alt="Chopping Board">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Artistic Chair</h3>
          <ul>
            <li>Solid Wood</li>
            <li>Seats one</li>
            <li>€100</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="card">
      <img src="images/other/other3.jpg" alt="product 1">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Not Sure...</h3>
          <ul>
            <li>Wood, probably</li>
            <li>Tallish</li>
            <li>€3.50 o.n.o</li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <aside>
    <p>Are you looking for something really odd? <a href="contact.html" class="body-link">Let us know!</a></p>
  </aside>
</main>