<%- include('./partials/_nav.ejs', {id: "range"}); %>
<main>
  <section class="range cards">
    <article class="card">
      <img src="./images/card-image1.jpg" alt="Tables">
      <a href="tables.html">
        <div class="card-image-tail">
          TABLES
          <div class="card-jump"> >> </div>
        </div>
      </a>
    </article>
    <article class="card">
      <img src="./images/card-image2.jpg" alt="Shelving">
      <a href="shelves.html">
        <div class="card-image-tail">
          SHELVING
          <div class="card-jump"> >> </div>
        </div>
      </a>
    </article>
    <article class="card">
      <img src="./images/card-image3.jpg" alt="Art">
      <a href="other.html">
        <div class="card-image-tail">
          ART
          <div class="card-jump"> >> </div>
        </div>
      </a>
    </article>
  </section>
</main>