<%- include('./partials/_nav.ejs', {id: "range"}); %>
<main>
  <section class="main-header">
    <h2>Shelving</h2>
    <p>Already have a table? Check out our offers on <a href="sale.html" class="body-link">some unique chairs</a>!</p>
  </section>
  <section class="cards">
    <article class="card">
      <img src="images/shelves/shelf1.jpg" alt="product 1">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Hexagonal Floaters</h3>
          <ul>
            <li>Solid Oak</li>
            <li>1800 x 800mm</li>
            <li>€1200</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="card">
      <img src="images/shelves/shelf2.jpg" alt="product 1">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Fancy Modern Table</h3>
          <ul>
            <li>Solid Oak</li>
            <li>1800 x 800mm</li>
            <li>€1200</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="card">
      <img src="images/shelves/shelf3.jpg" alt="product 1">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Fancy Modern Table</h3>
          <ul>
            <li>Solid Oak</li>
            <li>1800 x 800mm</li>
            <li>€1200</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="card">
      <img src="images/shelves/shelf4.jpg" alt="product 1">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Fancy Modern Table</h3>
          <ul>
            <li>Solid Oak</li>
            <li>1800 x 800mm</li>
            <li>€1200</li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <aside>
    <p>Quick description of shelves and shelf related things!</p>
  </aside>
</main>