<%- include('./partials/_nav.ejs', {id: "range"}); %>
<main>
  <section class="cards">
    <article class="card">
      <img src="images/tables/table1.jpg" alt="product 1">
      <div class="card-image-tail">
        <div class="card-description">
          <h3>Fancy Modern Table</h3>
          <ul>
            <li>Solid Oak</li>
            <li>1800 x 800mm</li>
            <li>€1200</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="card">
      <img src="images/tables/table2.jpg" alt="product 1">
      <div class="card-image-tail">
        ART
        <div class="card-jump"> >> </div>
      </div>
    </article>
    <article class="card">
      <img src="images/tables/table3.jpg" alt="product 1">
      <div class="card-image-tail">
        ART
        <div class="card-jump"> >> </div>
      </div>
    </article>
    <article class="card">
      <img src="images/tables/table4.jpg" alt="product 1">
      <div class="card-image-tail">
        ART
        <div class="card-jump"> >> </div>
      </div>
    </article>
    <article class="card">
      <img src="images/tables/table5.jpg" alt="product 1">
      <div class="card-image-tail">
        ART
        <div class="card-jump"> >> </div>
      </div>
    </article>
    <article class="card">
      <img src="images/tables/table6.jpg" alt="product 1">
      <div class="card-image-tail">
        ART
        <div class="card-jump"> >> </div>
      </div>
    </article>
  </section>
  <aside>
    <p>Quick description of tables and table related things!</p>
  </aside>
</main>