<footer>
  <section class="business-details">
    <ul class="footer-links">
    	<li>Home</li>
    	<li>Range</li>
    	<li>Sale</li>
    	<li>About</li>
    	<li>Contact</li>
    </ul>
  </section>
  <section class="site-links">
    <p>
      Got Wood<br />
      Unit 1 & 2 Cavan Enterprise Centre<br />
      Dublin Road<br />
      Killygarry<br />
      Cavan
    </p>
  </section>
  <section class="social-links">
    <p>
      <i class="fab fa-google fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-youtube fa-2x"></i>
      <i class="fab fa-facebook-square fa-2x"></i>
    </p>
  </section>
</footer>