<footer>
  <section class="business-details">
    <p>
      Unit 1 & 2 Cavan Enterprise Centre<br />
      Dublin Road<br />
      Killygarry<br />
      Cavan
    </p>
  </section>
  <section class="site-links">
    <p>
      Unit 1 & 2 Cavan Enterprise Centre<br />
      Dublin Road<br />
      Killygarry<br />
      Cavan
    </p>
  </section>
  <section class="social-links">
    <p>
      <i class="fab fa-google fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-youtube fa-2x"></i>
      <i class="fab fa-facebook-square fa-2x"></i>
    </p>
  </section>
</footer>