<footer class="container-splash">
  <section class="footer-links">
    <ul>
    	<li><a href="index.html">Home</a></li>
    	<li>Range</li>
      <ul>
        <li><a href="tables.html">Tables</a></li>
        <li><a href="shelves.html">Shelves</a></li>
        <li><a href="other.html">Other</a></li>
      </ul>
    	<li><a href="sale.html">Sale</a></li>
    	<li><a href="about.html">About</a></li>
    	<li><a href="contact.html">Contact</a></li>
    </ul>
  </section>
  <section class="site-links">
    <p>
      <strong>GOT WOOD</strong><br>
      Unit 1 & 2 Cavan Enterprise Centre<br>
      Dublin Road<br>
      Killygarry<br>
      Cavan
    </p>
  </section>
  <section class="social-links">
    <p>
      <i class="fab fa-google fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-youtube fa-2x"></i>
      <i class="fab fa-facebook-square fa-2x"></i>
    </p>
  </section>
</footer>