<nav id="main">
  <a class="logo" href="index.html">
    GOT WOOD?
  </a>
  <ul>
    <a href="index.html">
      <li id="home" class="nav-link">
        Home
      </li>
    </a>
    <!-- <a href="#"> -->
      <li id="range" class="nav-link dropdown">
        Range
        <div class="dropdown-content">
          <a href="tables.html">Tables</a>
          <a href="shelves.html">Shelves</a>
          <a href="other.html">Other</a>
        </div>
      </li>
    <!-- </a> -->
    <a href="sale.html">
      <li id="sale" class="nav-link">
        Sale
      </li>
    </a>
    <a href="gallery.html">
      <li id="gallery" class="nav-link">
        Gallery
      </li>
    </a>
    <a href="about.html">
      <li id="about" class="nav-link">
        About
      </li>
    </a>
    <a href="contact.html">
      <li id="contact" class="nav-link">
        Contact
      </li>
    </a>
  </ul>
</nav>
<%- include('./_header.ejs', {id: id});  %>
<script>
var id = document.querySelector("#<%= id %>").id
document.querySelector("#<%= id %>").classList.add("active")
</script>