/*** Nav CSS ***/

/***
This stylesheet handles the flexbox layout for the navigation section, as well as style for the links 
***/

nav#main {
  grid-column-start: 2;
  /*font-family: 'Holtwood One SC', serif;*/
}

nav#main {
  display: flex;
  justify-content: space-between;
}

nav#main ul {
  display: flex;
  margin: 0;
  font-size: 1.4em;
  text-align: center;
}

nav#main li {
  flex-basis: 20%;
  padding: 18px;
  list-style: none;
}

nav#main a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0e;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  border-top: 4px solid #c39b4c;
  background: #faf8f7;
  transition: all 0.12s ease;
}

.active {
  border-top: 4px solid #c39b4c;
  background: #faf8f7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #faf8f7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.8em;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #faf8f7;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.12s ease;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-left: 4px solid #c39b4c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown {
  background-color: #faf8f7;
}